.not-found {
    /* position: absolute; */
    left: 0;
    right: 0;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 80%;
    font-size: 160px;
    font-weight: 700;
    text-align: center;
}

.not-found p {
    font-size: 40px;
}

.not-found a {
    color: blueviolet;
}

.cheshire-citation {
    font-size: 30px;
    text-align: center;
}