{{- define "main" }}
<div class="not-found">
    404
    <p>Are you lost ? Go to the <a href="/">Home page</a></p>
</div>
<img src="/assets/images/404.jpg" alt="alice_lost">
<i class="cheshire-citation">"Not all who wander are lost."</i>
{{- end }}{{/* end main */ -}}

